.resetBody{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);	background-size: 400% 400%;
	animation: gradient 10s linear infinite;
	height: 100vh;
    padding-top: 120px;
}
@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.resetBlock{
   position: relative;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.2); 
    width: 30%;
    /* height: 500px; */
    border-radius: 10px;
    margin:  auto;
    padding: 0 30px 60px 30px;
}
.resetLogo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lockLogo{
    margin-top: -50px;
    opacity: 0.3;
    font-size: 100px;
    color: white;
}
.resetLogo p {
    font-size: 30px;
    font-weight: bold;
    color: white;
    opacity: 0.5;
    text-align: center;
}
.resetInputsLogin{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 10px 20px;
}
.resetInputsLogin input{
    font-size: 20px;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: white;
}
.resetInputsLogin input::placeholder{
    font-weight: bold;
    color: white;
    opacity: 0.5;
}

.inputsBlock{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.ApplyOrSign{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}
.ApplyOrSign button,.ApplyOrSign a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    width: 30%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 10px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.753);
}